# Created by Vercel CLI
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_ENOKI_API_KEY=
NEXT_PUBLIC_SUI_NETWORK=https://fullnode.testnet.sui.io:443
NEXT_PUBLIC_SALT_API=https://salt.api.mystenlabs.com/get_salt
NEXT_PUBLIC_PACKAGE=0x38edeb2ed98ac6420cf9b75aaee77f08e949a04ad91e5f8ecb048696c67e2e54
NEXT_PUBLIC_KEY_REGISTRY=0x0eabd2bcccf1a1fefba95854ab6699299e9dba4d6a6b13c60bfac00eaa8b4c06
ADMIN_PRIVATE_KEY_ED25519=
ENOKI_SECRET_KEY=
KV_URL=
KV_REST_API_URL=
KV_REST_API_TOKEN=
KV_REST_API_READ_ONLY_TOKEN=
